---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for loc in locales %}
  <url>
    <loc>{{ site.url }}{{ loc.path }}</loc>
    {% if collections.indexablePosts.length %}
    <lastmod>{{ collections.indexablePosts[0].date | htmlDate }}</lastmod>
    {% endif %}
  </url>
{% endfor %}
  <url>
    <loc>{{ site.url }}/posts/</loc>
    {% if collections.indexablePosts.length %}
    <lastmod>{{ collections.indexablePosts[0].date | htmlDate }}</lastmod>
    {% endif %}
  </url>
  <url>
    <loc>{{ site.url }}/privacy/</loc>
  </url>
{% for post in collections.pillarPosts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | htmlDate }}</lastmod>
  </url>
{% endfor %}
{% for post in collections.indexablePosts %}
{% if not post.data.translationKey %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | htmlDate }}</lastmod>
  </url>
{% endif %}
{% endfor %}
</urlset>
